
body{
  background-color: white
}
.smcircle{
  width:200px;
  height: 190px;
  border-radius: 50%;
  border: solid  rgb(37, 133, 184);
}
.introContainer {
  border: solid  rgb(37, 133, 184);
  display: flex;
  /* height:20vh; */
  justify-content: space-between;
  background-size: contain;
  
}

.intro {
  border: solid  rgb(37, 133, 184);
  width: 60%;
  margin: 1em;
  background-size:cover;
  text-align: center;
  padding-left: 55px;
  background-color: rgb(255, 255, 255);
}

.infoContainer {
  border: solid  rgb(37, 133, 184);
  margin: 1em;
  /* height: 80vh; */
  background-size:contain;
  display: flex;
}

.dropContainer {
  border: solid rgb(37, 127, 176);
  padding:1em;
  margin: 1em;
  
  width: 30%;
  background-color: rgb(255, 255, 255);
}
.displayContainer {
  /* border: solid ; */
  margin: 1em;
  width: 60%;
}
.title {
  text-align: center;
}
.description {
  text-align: center;
  padding: 5px;
  font-family:Abril Fatface serif;
  font-size:22px;
}
.symbolContainer {
  border: solid  rgb(37, 133, 184);
  border-width:2px;
border-radius:3px;
text-align: center;

}


.symParent {
  /* border: solid green; */
  border-width: 12px;
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin: 1em;
}
.icon {
  border: solid  rgb(37, 133, 184);
  width: 55px;
  height: 20px;
  border-radius: 70%;
}
.texas {
  /* border: solid orange; */
  width: 500%;
  text-align: center;
}
.sectionContainer {
  border: solid  rgb(37, 133, 184);
  margin: 1em;
  background-color: white;
  color: black;
  display:flex;
  flex-wrap:wrap;
}
.toolbar {
  border: solid  rgb(37, 133, 184);
  text-align: center;
  background-color: navy;
}
.date {
  text-align: center;
  margin: 1em;
}

.eduContainer {
  border: solid  rgb(37, 133, 184);
  margin: 1em;
}
.eduContainer:hover {
  border: solid rgb(12, 34, 12);
  font-size:23px;
  transition:3s;
  margin: 1em;
}

h2 {
  text-align: center;
  font-size: 80%;

}

.fanduelLogo{
  padding-top: 1em;
  width: 39px;
  height: 39px

}


.example{
  border: solid  rgb(37, 133, 184);
  height: 43vh
}


h3{
  text-align: center;
  font-family: cursive;
}


li{text-align: left;}

h4{
  text-align: center;
}

h1{
  text-align: center;
}

button{
  text-align: center;
  margin: auto;
  display: flex;
  display: grid;

  
}

p{
  text-align: center;
  font-size: 23px;
  font-style: italic;


}


.screen{
  border:solid  rgb(37, 133, 184);
  height:5vh;
  border-radius:22px;
  font-family:'Courier New', Courier, monospace;
  background-color:#40707f;
  padding:2em;
  color:rgb(255, 255, 255);
  font-size:20px;
}